* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*## Colors*/

  /* ### Primary */

  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);

  /* ### Neutral */

  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
}

body {
  background-color: var(--cream);
}

.wrapper {
  max-width: 25rem;
  padding: 3rem 1rem;
  margin: auto;
}

.graph-container {
  background-color: var(--very-pale-orange);
  border-radius: 1rem;
  padding: 1.5rem 1rem;
  margin: 1.25rem 0;
}

.spending-title {
  font-size: 1rem;
  font-weight: bold;
  color: var(--dark-brown);
  padding-bottom: 1rem;
}

.balance {
  display: flex;
  justify-content: space-between;
  background: var(--soft-red);
  padding: 1.25rem;
  border-radius: 1rem;
  color: var(--very-pale-orange);


.balance-title {
  display: flex;
  font-size: 0.875rem;
  flex-direction: column;
}

.balance-title span:nth-child(1) {
  font-size: 0.75rem;
}

.balance-title span:nth-child(2) {
  font-size: 1.25rem;
  font-weight: 600;
}
